body{
  font-family: 'Montserrat';
  text-align: center;
}
h1,h2,h3,h4,h5,h6{
font-family: 'Montserrat', sans-serif;
line-height: 1.5;
}
.big-heading{
  font-size:3.5rem;
  color:white;

}
.white{
  background-color: #fff;
}
.colored{
 color:#fff;
background-color:#ff4c68;
}

.pricing-text,.price, .testimonial-text{
    font-size: 3rem;
}

.container-fluid{
padding: 7% 15%;
}
#title.container-fluid{
  padding:0 15% 7%;
    text-align: left;
}
.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar{
  padding:0 0 4.5rem;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size:1.2rem;
  font-family: 'Montserrat-Light';
}

.download-btn{
  margin: 5% 3% 5% 0;
}

.title-img{
  width:60%;
  transform:rotate(25deg);
  right:30%;
  position:absolute;
}
.feature{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}
.fea{
  color: #8f8f8f;
  font-family: 'Ubuntu';
}
.icon{
  color:#ef8172;
  margin-bottom:1rem;
  }

.icon:hover{
  color:#ff4c68;
}

#features{

z-index:1;
position:relative;
}

#testimonials{
 background-color: #ef8172;
  padding:7% 0;
}
.testimonial-img{
  width:10%;
  border-radius:50%;
  margin:20px;
}

#pricing{
  padding:100px;

}
#press{
background-color: #ef8172;
  padding-bottom:3%;

}
.press-logo{
  width:15%;
  margin:20px 20px 50px;
}
.pricing-col{
  padding: 3% 2%;
}
@media(max-width: 1028px){
  #title{
    text-align: center;
    }
    .title-img{
      position:static;
      transform: rotate(0);
    }
}


#footer{
  background-color: #fff;

}
.foot{
  color: #8f8f8f;
  font-family: 'Ubuntu';
}
.social{
  padding: 0 10px;
}
